body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#bigText {
    color: #000000; 
    text-shadow: #fff792 0 0 0.3em;
    font-size: 40px;
}

.blueButton {
  border: 2px solid #000000;
  color: #000000;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}

.blueButton:hover {
    cursor: pointer;
    text-shadow: #fff792 0 0 0.3em;
}

p {
    width:30%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    color: #aaaaaa;
}

a {
    color:#ffffff;
    text-shadow: #33ccff 0 0 0.3em;
    font-style:italic;
}

a:hover {
    color:#33ccff;
    cursor:pointer;
}

#italic {
    font-style:italic;
    font-size:15px;
    text-align:center;
}
    
    
